

/* Centres the lisitings pannel */
.listings-page {
    width: 100%;
    min-height: 50vh;           
    display: flex;
    justify-content: center;   
    align-items: center;          
  }
  
  /* Main pannel info */
  .listings-panel {
    background: #fffefe;
    border-radius: 16px;
    padding: 20px;
    width: 100%;
    max-width: 700px;      /* makes it look like your login box */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  
  /* formatts the info dropdown pannel */
  .info-panel {
    background: #328833;
    border: 1px solid #238924;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
    color: #fffefe;
  }
  
  /* Changes the font size of info to be readable  */
  .info-panel p,
  .info-panel li {
    font-size: 12px;
    line-height: 1.4;
  }
  
  /* keeps the titile reable*/
  .info-panel h3 {
    margin: 0;
    font-size: 16px;
  }