/* COLOURS GENERATED VIA https://WWW.COLOR.CO

/* COLOUR SCHEME NO.2 */
/*
--shadow-grey: #242331ff;
--tropical-mint: #23f0c7ff;
--lavender-grey: #938ba1ff;
--spicy-paprika: #e4572eff;
--bright-amber: #ffc914ff;


$gradient-top: linear-gradient(0deg, #242331ff, #23f0c7ff, #938ba1ff, #e4572eff, #ffc914ff);
$gradient-right: linear-gradient(90deg, #242331ff, #23f0c7ff, #938ba1ff, #e4572eff, #ffc914ff);
$gradient-bottom: linear-gradient(180deg, #242331ff, #23f0c7ff, #938ba1ff, #e4572eff, #ffc914ff);
$gradient-left: linear-gradient(270deg, #242331ff, #23f0c7ff, #938ba1ff, #e4572eff, #ffc914ff);
$gradient-top-right: linear-gradient(45deg, #242331ff, #23f0c7ff, #938ba1ff, #e4572eff, #ffc914ff);
$gradient-bottom-right: linear-gradient(135deg, #242331ff, #23f0c7ff, #938ba1ff, #e4572eff, #ffc914ff);
$gradient-top-left: linear-gradient(225deg, #242331ff, #23f0c7ff, #938ba1ff, #e4572eff, #ffc914ff);
$gradient-bottom-left: linear-gradient(315deg, #242331ff, #23f0c7ff, #938ba1ff, #e4572eff, #ffc914ff);
$gradient-radial: radial-gradient(#242331ff, #23f0c7ff, #938ba1ff, #e4572eff, #ffc914ff);

*/



:root {
    --main: #242331ff;
    --accent: #23f0c7ff;
    --accent2: #938ba1ff;
    --accent3: #e4572eff;
    --accent4: #e4572eff;
    --accent5: #ffc914ff;
}

/* This is background colours for every page - ensures consistency */
html, body {
    background: var(--main);
    color: var(--accent); /* normal text colour - will need to be specifically applied to divs*/
    margin: 0;
    padding: 0;
    /* global font for the entire site */
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Arial, sans-serif;
}