# INSECURE DOTENV DESIGNED EXCLUSIVELY FOR LOCAL DEVELOPMENT ONLY
# run:
# cp .env.example .env
# to use this example dotenv file
# Whether to
DJANGO_DEBUG=True
DJANGO_SECRET_KEY="django-insecure-f93hw7hoalq(7dl*7-!coj*&z32)c^pwz^*5%o@sj75j8vxz0w"
DJANGO_DOMAIN=localhost
DJANGO_PORT=8000