# INSECURE DOTENV DESIGNED EXCLUSIVELY FOR LOCAL DEVELOPMENT ONLY
# run:
# cp .env.example .env
# to use this example dotenv file
# Whether to
DJANGO_DEBUG=True
DJANGO_SECRET_KEY="django-insecure-f93hw7hoalq(7dl*7-!coj*&z32)c^pwz^*5%o@sj75j8vxz0w"
DJANGO_DOMAIN=localhost
DJANGO_PORT=8000
# can be 'sqlite' or 'mysql'
DB_ENGINE="sqlite"
# the following are only used for mysql
# URL to obtain the database IP
DB_HOST
# Name of the database within the instance of the DB engine
DB_NAME
# the port on which the DB engine listens for incoming connections
DB_PORT
# the user to authenticate with
DB_USER
# the password for the DB_USER
DB_PASSWORD