/* Container below navbar */
.seller-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.25rem 2rem;
    box-sizing: border-box;
    gap: 20rem;
}

/* All three sections - equal width */
.location-dropdown-container,
.seller-name-container,
.seller-address-container {
    min-width: 10rem;
    text-align: center;
}

/* Dropdown styling */
.seller-info-container select {
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    background-color: var(--primary);      
    color: var(--accent);                  
    border: 1px solid var(--accent);
    cursor: pointer;
}
