.bundleTitle {
    display: flex;
    justify-content: center;

}

.bundleBody {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.bundleBody img {
    width: 40vw;
    height: 100%;
}

.bundleDisplay {
    justify-content: center;
    padding-left: 5rem;
    padding-top: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}

.infoContainer {
    display: grid;
    gap: 2rem;
}